@import '~src/style/colors';
@import '~src/style/variables';

.basket {
  justify-content: flex-end;
  display: flex;
  div {
    cursor: pointer;
    svg {
      transition: $basket-anim-time ease-out;
      fill: $purple;
    }
    &.shine {
      svg {
        fill: lighten($purple, 25%);
      }
    }
  }
}
