<div *ngIf="product" class="card card--anim">
  <a [routerLink]="'/product/'+product.id">
    <div class="card__img" 
      [ngStyle]="{'background-image': 'url(assets/img/products/'+product.img+')'}">
    </div>
  </a>
  <div class="card__info">
    <h3><a [routerLink]="'/product/'+product.id">{{product.name}}</a></h3>
    <p [innerHTML]="product.description.substring(0, 100)+'...'"></p>
    <div class="card__info__price">{{product.price | currency:'GBP'}}</div>
    <div class="card__info__ico">
      <app-basket [size]="30" [product]="product"></app-basket>
    </div>
  </div>
</div>
