
@mixin trans($params) {
  transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  -webkit-transition: $params;
}

@mixin no-selectable() {
  user-select: none;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
}