
$fxs: .6rem;
$fs: .8rem;
$fn: 1rem;
$fm: 1.2rem;
$fl: 1.5rem;
$fxl: 1.8rem;
$fxxl: 3rem;

$card-anim-time: .3s;
$basket-anim-time: .25s;
$shining-perc: 35%;

$container-max-width: 1000px;
$left-right-gap: 15px;
$height-header-md: 120px;
$height-header-sm: 160px;