@import "./colors";
@import "./breakpoints";
@import "./variables";

body {
  background-color: $light-grey;
  font-family: sans-serif;
  font-size: 62.5%;
  margin: 0 $left-right-gap 20px;
  padding-top: $height-header-sm;
  @include lg {
    padding-top: $height-header-md;
    max-width: $container-max-width;
    margin: 0 auto 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
}